#navbar {
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
    height: 80px;
}
#training .items{
    flex-direction: column;
}
#training .items .item{
    width: 100%;
}
#courses .course{
    flex-direction: column;
}
.courses .course .course-image img{
    border-radius: 5px;
    width: 400px;
}